p{
border:solid 3px chocolate;
width:500px;
padding:10px;
font-weight:bold;
font-family: verdana;
font-size:24px;
background-color:cyan;
border-top-left-radius:40px;
border-bottom-right-radius:40px;
box-shadow:10px 10px 10px grey;
column-count:2;
transition:all 2s;
margin:250px;

}

p:hover {    
transform:scale (2, 2);
}