* {
  box-sizing: border-box;
  display: block;
}

listacomponentes {
  background-color: chocolate;
  width: 300px;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: solid 3px blue;
}

listacomponentes:before {
  display: block;
  content: "Componentes de Informatica";
  color: white;
  background-color: black;
  width: 280px;
}

literatura {
  background-color: cyan;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: solid 3px red;
  width: 300px;
}

literatura:before {
  display: block;
  content: "Libros de literatura";
  color: white;
  background-color: black;
  width: 280px;
}

libro {
  border-bottom: solid 1px black;
}